.aside {
  width: 300px;
  height: 600px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
      146deg,
      rgba(252, 183, 56, 0.6) 6.72%,
      rgba(239, 121, 60, 0.7) 113.18%
    ),
    url(../../../assets/images/aside.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  border: 3px solid #fff324;
}

.aside p {
  color: #fcfcfc;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%; /* 72px */
  letter-spacing: 0.5px;
}

.aside p:last-child {
  font-size: 40px;
}

@media screen and (min-width: 1280px) {
  .aside {
    display: flex;
  }
}
