.right-side {
  display: flex;
  flex-direction: column;
  max-width: 810px;
}

.breadcrumbs {
  display: flex;
  align-items: center;

  color: #707070;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.5px;
}

.breadcrumbs a:last-child {
  font-weight: 700;
}

.title {
  font-family: "Red Hat Display";
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: 54px; /* 128.571% */
  letter-spacing: 0.5px;

  background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.breadcrumbs p {
  color: #707070;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.5px;
  margin-bottom: 60px;
}
