.navbar {
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
  gap: 15px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav-item p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.5px;
}

.phone-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.list-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav-list .nav-item:last-child {
  display: none;
}

.social-item:last-child {
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
}

.social-item {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.social-item svg {
  fill: #fff;
}

@media screen and (min-width: 1280px) {
  .nav-list .nav-item:last-child {
    display: flex;
  }
  .nav-list {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
  .list-wrapper {
    width: auto;
    justify-content: center;
  }
}
