.navbar {
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.nav-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
  gap: 15px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  gap: 5px;
}

.nav-item p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover p {
  color: #183a5d;
}

.nav-item svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover svg {
  fill: #183a5d;
}

.list-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
}

.nav-list .nav-item:last-child {
  display: none;
}

.social-item:last-child {
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
}

.social-item {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-item svg {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}
.social-item:hover svg {
  fill: #183a5d;
}

/*Burger-Menu*/

.menu-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.menu-btn svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #fff;
}

@media screen and (min-width: 1280px) {
  .nav-list .nav-item:last-child {
    display: flex;
  }
  .nav-list {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
  .list-wrapper {
    width: auto;
    justify-content: center;
  }
  .nav-right {
    width: auto;
  }
  .menu-btn {
    display: none;
  }
}
