:root {
  --main-color: #222222;
  --extra-text-color: #565148;
  --accent-color: #ed4b5e;
  --extra-accent-color: #ffeff0;
  --card-dark-gray: #444;
  --card-light-gray: #808080;
  --color1: #12c2e9;
  --color2: #c471ed;
  --color3: #f38188;
  --gradient: conic-gradient(
    from -40.59deg at 52% 49.77%,
    #f36536 0deg,
    #fcc539 43.78deg,
    #dc4a19 360deg
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;

  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  appearance: none;
  background: #00466e1a;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.container {
  max-width: 100%;
  width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}
