.progress-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.buttons-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.progress-bar {
  display: flex;
}
